
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 1rem;
  background-color: #007acc;
  color: white;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}


body.light-mode {
  background-color: white;
  color: black;
}


body.dark-mode {
  background-color: black;
  color: white;
}

  