body {
  background-image:url(https://activeforlife.com/content/uploads/2018/07/soccer-ball-2121x1414.jpg);
  background-size:auto;
  background-position: center;
  background-repeat: no-repeat;
  
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 1rem;
  background-color: #00426d;
  color: white;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}


body.light-mode {
  background-color: white;
  color: black;
}


body.dark-mode {
  background-color: black;
  color: white;
}

  